<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->

<!-- <div class="moviecard">
  <mat-card class="movie-card">
    <mat-card-header>
      <div mat-card-avatar><img [src]="movie2.image">
      </div>
      <div>
        <u><mat-card-title>{{ movie2.movieName }}</mat-card-title></u>
        <mat-card-subtitle><br>
          <mat-label>Year: {{ movie2.year }}</mat-label><br>
          <mat-label>Genre: {{ movie2.genre }}</mat-label><br>
          <mat-label>Rating: {{ movie2.movieRating }}</mat-label>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <div class='rightdd'> -->


      <div class="moviecard">
        <div class="card_content">
          
          <div class="card_front" ><img [src]="movie2.image">
        </div>
        <div class="movie-card" id="card_back">
          <div>
            
            <div>
      <!-- 
              <mat-card-title>{{ movie2.movieName }}</mat-card-title>
              <mat-card-subtitle><br>
      -->
              <u><div class="card_title">{{ movie2.movieName }}</div></u>
              <div><br>
      <!--  -->
                <mat-label>Year: {{ movie2.year }}</mat-label><br>
                <mat-label>Genre: {{ movie2.genre }}</mat-label><br>
                <mat-label>Rating: {{ movie2.movieRating }}</mat-label>
              </div>
            </div>

      <!-- <mat-card-content> <b><u>Summary</u></b>
        <p>
          <textarea readonly name="fieldName" ngDefaultControl id="movieDesc" [(ngModel)]='movie2.description'></textarea>
          <br>
          <mat-card-actions>
            Button for specific movie-->
            <!-- <button mat-button type="button"  (click)="onCreateClick(movie2.id)" [id]="movie2.id" >Review {{ movie2.movieName }}</button>
          </mat-card-actions>
        </p>
      </mat-card-content> -->

    </div>
    <div >
      <div> <b><u>Summary</u></b>
        <p>
          <textarea readonly name="fieldName" ngDefaultControl id="movieDesc" [(ngModel)]='movie2.description'></textarea>
          <br>
          <div>
            <!--Button for specific movie-->
            <button mat-button type="button"  (click)="onCreateClick(movie2.id)" [id]="movie2.id" >Review {{ movie2.movieName }}</button>
          </div>
      </div>
    </div>
  <!-- </mat-card> -->
</div>