<!--<p>update-user works!</p>-->

<!--Andre's code below-->
<html lang="en">
    <head>
        <title>
            Profile
        </title>
        <link rel = "stylesheet" href="../update-user/update-user.component.css">
    </head>
    <body>
        <div class="topnav">
            <br>
            <a class = "active" href = "home.html">Home</a>
            <a class ="active" href = "request.html">Place Holder</a>
            <a class ="active" href = "allrequests.html">Place Holder 2</a>
            <a class ="active" href = "allrequests.html">Place Holder 3</a>
            <a class ="active" href = "allrequests.html">Place Holder 4</a>
        </div>

        <div class= "profiletop1">
            <span class= "dot">
                Profile pic in here
            </span>
            <Span class= "profiletop2">
                PlaceHolder for username</Span>
            <span class= "dot2">
            </span>
        </div>

        <div class= "profilebackground">
            <div class= "profileleft">
                Placeholder for movies/facts about user
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class= "profilemiddle1">
                Main placeholder for the description of the Profile, messages and content will be shown here. 
                This is what the user will present to anyone who views their profile, could also have additional information placed here.
                Ie: friends, films, etc.
            </div>
            <div class= "profileright">
                Placeholder for movies/facts about user
            </div>



        </div>

        

    </body>
</html>