
 
<div class="nav">
    <title>
        Welcome to SpoilerRoom -  Home
    </title>

    <br>
    <br>
    <br>
    <span>
        <div class='SpoilerScreen'><a routerLink="home">SpoilerScreen</a></div>

        <div class='TheMovies'><a routerLink="movie">Movies!</a></div>
        &nbsp;
        <a *ngIf="loggedInUser" routerLink="home">My Reviews</a>
        &nbsp;
        <a *ngIf="loggedInUser && loggedInUser.rank.rankTitle == 'Admin' " routerLink="profile">User Admin</a>
    </span>
    <span>
        <div class='TheLogin'>
        <button *ngIf="!loggedInUser; else user" (click)="showLogin=!showLogin">Log In</button>
        <ng-template #user>
            {{ loggedInUser.firstName }}&nbsp;&nbsp;&nbsp;
            <button (click)="logOut()">Log Out</button>
        </ng-template>
    </div>

    </span>
<ng-container *ngIf="showLogin">
    <app-login (login)="setup()"></app-login>
</ng-container>

</div>
    <!-- <a class ="active" routerLink="home" >Home</a>
    &nbsp;
    <a class ="active" routerLink="movie" >Movies!</a>
    &nbsp;
    <a class ="active">Explore</a>
    &nbsp; -->
