

<div>
    <div class= 'LoginBanner'><h1>Login to your Account</h1></div>

    
    </div>
    <div id="loginsplash">
    <form id="login">
    <hr>
    <span><mat-form-field>

        <mat-label for="username">Username: </mat-label>
        <input matInput type="text" id="username" [(ngModel)]="usernameInput" name="username">
           
    </mat-form-field>
    &nbsp;
    <mat-form-field>
        <mat-label for="passwd">Password: </mat-label>
        <input matInput type="password" id="passwd" [(ngModel)]="passwordInput" name="passwd">
    </mat-form-field></span>
    <span><button type="button" id="loginBtn" (click)="logIn()">Submit</button>
        &nbsp;
    <button type="button"><a routerLink="/register" routerLinkActive="active" >
       Register
      </a></button></span>
    </form>
</div>

