form {
    display: inline-block;
}
#login {
    padding-bottom: 10%;
    justify-content: center;
    display: grid;
}
h1{
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#loginsplash {
    width: 100%;
    height: 100%;
    /* background: url("https://protwo.s3.us-east-2.amazonaws.com/assets/oo4z_3qah_151028.jpg"); */
    background-position: cover;
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.LoginBanner{
    font-size: 75%;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 8%;
    padding-bottom: 0%;
    padding-right: 1%;
    padding-left: 1%;
}