

<body>
<h1>Register for your account!</h1>


<form *ngIf="regForm" [formGroup]="regForm" (ngSubmit)="onSubmit()">

    <!-- just there so I could check the output for it -->
Value: {{ regForm.value | json}}

<hr>
<mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName">
       
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="passwrd">
    <mat-hint align="end">
            Must have one letter and one number
    </mat-hint>
    <mat-error *ngIf="passwrd && passwrd.touched" class="has-text">

    </mat-error>

</mat-form-field><br>
<mat-checkbox formControlName="agree" color="primary">Verify all you Data is Correct?</mat-checkbox>
<hr>
 
 <button mat-raised-button [disabled]="regForm.invalid">Submit</button>
</form>
</body>