.review-card {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }
  #revtitle{
    width: 250px;
    height: 40px;
  }
    
    #revtext{
        width: 400px;
        height: 150px;
        padding: 12px 20px;
        overflow-wrap: break-word;
        box-sizing: border-box;
        border: 2px solid #ccc;
        word-break: break-all;
        border-radius: 4px;
        background-color: #f8f8f8;
        overflow-wrap: break-word;
      }
      .sample{
          text-align: center;
          justify-content: right;
      }
      .reviewcard{
          justify-self:auto;
      }

