<html lang="en">
<head>
    <title>
        Welcome to SpoilerRoom -  Home
    </title>
    <link rel ="stylesheet" href="home.component.css">
</head>
<body>
   

<main></main>




</body>
<footer>
   Assembled by Team Alchemy
</footer>
</html>





  <!-- <div>
        <h1>Login to your Account</h1>
        
        </div>
        <div id="loginsplash">
        <form id="login">
        <hr>
        <mat-form-field>
            <mat-label for="username">Username: </mat-label>
            <input matInput type="text" id="username" [(ngModel)]="usernameInput" name="username">
               
        </mat-form-field>
        <mat-form-field>
            <mat-label for="passwd">Password: </mat-label>
            <input matInput type="password" id="passwd" [(ngModel)]="passwordInput" name="passwd">
        </mat-form-field>
        <button type="button" id="loginBtn" (click)="logIn()">Submit</button>
        <a routerLink="/register" routerLinkActive="active" >
           Register
          </a>
        </form>
        </div>-->