<html lang="en">
<head>
    <title>
        Welcome to SpoilerRoom -  Home
    </title>
    <link rel ="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <p align="right"><button class="button" routerLink="login">Login</button></p>
    </header>
    
    

    <div class= "main"></div>
    
    <div class="nav">
        <a class ="active" routerLink="home" >Home</a>
        &nbsp;
        <a class ="active" routerLink="movie" >Movies!</a>
        &nbsp;
        <a class ="active">Explore</a>
        &nbsp;
    </div>

    <div class= "box1">
        <div class="Title">Highest Rated Films</div>
        <div class= "box2">
            insert films here
        </div>
    </div>

    <div class= "box1">
        <div class="Title">Lowest Rated Films</div>
        <div class= "box2">
            insert films here
        </div>
    </div>



</body>
<footer>
   Assembled by Team Alchemy
</footer>
</html>