<!--
<div id="home">
<div id="inner-home">
   <div id="home-left">
<div id="home-left-welcome">
    <h1>Welcome to The ScreeningRoom!</h1>
    <p>Check out the Movie Reviews or register and write your own. One day you can become a Critic! 
        <br> If a review helps you out like it and you can help someone become a Critic Too!</p>
</div>

   </div>
   <div id="home-right">


   </div>
    
    
    </div>

</div>
-->

<!-- Below is Andre's code-->
<html lang="en">
<head>
    <title>
        Welcome to SpoilerRoom -  Home
    </title>
    <link rel ="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <p align="right"><button class="button">Login</button></p>
    </header>
    
    

    <div class= "main"></div>
    
    <div class="nav">
        <a class = "active" href = "home.html">Home</a>
        &nbsp;
        <a class ="active" href = "request.html">Register</a>
        &nbsp;
        <a class ="active" href = "allrequests.html">Explore</a>
        &nbsp;
    </div>

    <div class= "box1">
        <div class="Title">Highest Rated Films</div>
        <div class= "box2">
            insert films here
        </div>
    </div>

    <div class= "box1">
        <div class="Title">Lowest Rated Films</div>
        <div class= "box2">
            insert films here
        </div>
    </div>



</body>
<footer>
   Assembled by Team Alchemy
</footer>
</html>