<!--
<div id="home">
<div id="inner-home">
   <div id="home-left">
<div id="home-left-welcome">
    <h1>Welcome to The ScreeningRoom!</h1>
    <p>Check out the Movie Reviews or register and write your own. One day you can become a Critic! 
        <br> If a review helps you out like it and you can help someone become a Critic Too!</p>
</div>

   </div>
   <div id="home-right">


   </div>
    
    
    </div>

</div>
-->

<!-- Below is Andre's code-->
<html lang="en">
<head>
    <title>
        Project2HoldingName
    </title>
    <link rel ="stylesheet" href="./home.component.css">
</head>
<body>
    <header>
        Testing place holder for main website logo, title and login button
    </header>

    <div class= "main"></div>
    
    <div class="nav">
        <br>
        <a class = "active" href = "home.html">Home</a>
        <a class ="active" href = "request.html">Place Holder</a>
        <a class ="active" href = "allrequests.html">Place Holder 2</a>
        <a class ="active" href = "allrequests.html">Place Holder 3</a>
        <a class ="active" href = "allrequests.html">Place Holder 4</a>
    </div>

    <div class= "box1">
        placeholder title
        <div class= "box2">
            placeholder
        </div>
    </div>

    <div class= "box1">
        placeholder title 2
        <div class= "box2">
            test
        </div>
    </div>



</body>
<footer>
   Assembled by Team Alchemy
</footer>
</html>